@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0F19;
  --foreground: #E2E8F0;
  --card: #131922;
  --border: #1e293b;
  --primary: #00F5D4;
  --accent: #FFB000;
}

body {
  color: var(--foreground);
  background: var(--background);
}
